@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F9F5ED;
    max-width: 1440px;
}
nav{
    padding: 20px 10%;
    height: 15vh;
}

nav ul {
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin-right: 5%;
    /* gap: 50px; */
    font-weight: 500;
    font-family: montserrat;
    font-size: small;
    cursor: pointer;
}
li:hover{
    text-decoration: underline;
}


/* CSS for HERO Section */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.leftmain{
    width: 40%;
}

.leftmain h1{
    font-size: 67px;
}

.leftmain p{
    margin: 5% 0;
    font-family: montserrat;
    font-size: smaller;
}

.leftmain button{
    padding: 15px 20px;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-family: montserrat;
    font-size: small;
    cursor: pointer;
}

.rightmain{
    width: 60%;
    position: relative;
    left: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.img1{
    max-width: 250px;
}
.img2{
    max-width: 250px;
    position: relative;
    left: 20px;
}
.img3{
    max-width: 525px;
}